@import './styles/base.scss';

body {
  font-family: 'Open Sans', sans-serif;
  padding: 5vmin;
  background-color: #f4f4f4;
}

a {
  color: blue;
}

h1 {
  margin: 0;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
}
