@import '../styles/base.scss';

:root {
  --color-bg-light: #19305b;
  --color-bg-dark: #152547;
  --color-secondary: #d62d1f;
  --color-secondary-light: #dc594e;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

#app {
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: auto 1fr;
  grid-row-gap: 1rem;
  grid-template-areas:
    'aside header'
    'aside main';
  background-color: var(--color-bg-light);
  height: 50vw;
  width: 90vw;
  color: white;
  overflow: hidden;
}

aside {
  grid-area: aside;
  background: var(--color-bg-dark);
}

.ui-nav {
  display: grid;
  grid-template-rows: 4rem 4fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    'logo'
    'items'
    'search';

  > .ui-nav-items {
    grid-area: items;
  }
}

.ui-flight-header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: 'flight-info settings';
  align-items: center;
  padding: 0 2rem;
  height: 4rem;
  font-size: 85%;
}

main {
  grid-area: main;
  overflow: hidden;

  > section {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.ui-screen {
  z-index: 1;

  &:not([data-active]) {
    opacity: 0;
    z-index: 0;
  }
}

.ui-screen:not([data-active]) {
  opacity: 0;
  z-index: 0;
  display: none;
}

[data-screen='home'] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.ui-interest {
  padding: 1rem 2rem;
  background-color: #0003;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 50%;
  // animation: slide-up 0.6s both;
}
.ui-interest-header {
  border-bottom: 1px solid #fff6;
  text-transform: uppercase;
}
.ui-interest-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.ui-interest-title {
  font-size: 2rem;
}

.ui-screen-header {
  z-index: 1;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  grid-column-gap: 1rem;
}

// Movies
// ------

[data-screen='movies'] {
  display: grid;
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 'header' 'movies';
  grid-row-gap: 2rem;
  opacity: 1;
  // transition: opacity 0.3s;

  &:not([data-active]) {
    opacity: 0;
  }

  > .ui-screen-header {
    grid-area: header;
  }
}

.ui-movies {
  display: flex;
  flex-direction: row;
  // justify-content: flex-start;
  gap: 2rem;
  overflow-x: auto;

  &:hover > .ui-movie:not(:hover) {
    opacity: 0.5;
  }
}

.ui-movie {
  display: grid;
  grid-template-rows: 1fr 3rem;
  grid-template-areas:
    'cover'
    'title';
  grid-row-gap: 1rem;
  aspect-ratio: 0.6;
  height: 40vh;
  flex-shrink: 0;
  // animation: shift-up 0.3s calc(var(--i) * 0.1s) backwards;
  // transition: opacity 0.3s;
  font-weight: 400;

  &:first-child {
    margin-left: 2rem;
  }
  &:last-child {
    margin-right: 2rem;
  }
}

@keyframes shift-up {
  from {
    opacity: 0;
    transform: translateY(25%);
  }
  to {
    transform: none;
  }
}

.ui-movie-cover {
  background: linear-gradient(to bottom right, #9c27b0, #1accfa);
}

.ui-nav-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ui-nav-item {
  color: white;
  font-weight: bold;
  padding-inline: 2rem 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  // padding: 1rem 2rem 1rem 3rem;

  &:hover,
  &[data-active] {
    background: #061226;
  }
}

.ui-flight-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  grid-area: flight-info;
  opacity: 0.6;
  gap: 1rem;
}

.ui-dropdown {
  background: var(--color-bg-dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  font-weight: 400;
}

.ui-dropdown-title {
  font-size: 1.2rem;
}

.ui-dropdown-content {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 50vh;
  background-color: #fff;
  z-index: 100;
}

.ui-overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // transition: all 0.3s;
  display: block;

  .ui-figure {
    background-color: #fff;
  }

  .ui-description {
    padding-right: 2rem;
  }

  &:not([data-active]) {
    transform: translateY(100%);
  }
}

[data-screen='about'] {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  grid-template-areas: 'figure description';
  background: var(--color-bg-dark);
}

.ui-button {
  background-color: var(--color-secondary);
  color: white;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  // transition: all 0.3s;

  &:hover {
    background-color: var(--color-secondary-light);
  }
}

.ui-close {
  position: absolute;
  appearance: none;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  color: inherit;
  padding: 1rem;
}

[data-show]:not([data-active]) {
  display: none;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: none;
  }
}

@keyframes slide-down {
  from {
    transform: none;
  }
  to {
    transform: translateY(100%);
  }
}

// Music screen
// ----------------------------

[data-screen='music'] {
  display: grid;
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 'header' 'music';
  grid-row-gap: 2rem;
  opacity: 1;
  // transition: opacity 0.3s;

  &:not([data-active]) {
    opacity: 0;
  }

  > .ui-screen-header {
    grid-area: header;
  }
}

.ui-albums {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  overflow-x: auto;
}

.ui-albums-header {
  z-index: 1;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  grid-column-gap: 1rem;
}

.ui-album {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'cover'
    'title';
  width: 20vw;
  flex-shrink: 0;
  background-color: var(--color-bg-dark);
  // animation: shift-up 0.3s calc(var(--i) * 0.1s) both;

  &:first-child {
    margin-left: 2rem;
  }
  &:last-child {
    margin-right: 2rem;
  }
}

.ui-album-title {
  padding: 2rem;
  font-weight: 400;

  > small {
    font-weight: 300;
    display: block;
    opacity: 0.8;
  }
}

.ui-album-cover {
  background: linear-gradient(to bottom right, #ffc107, #e91e63);
  aspect-ratio: 1;
}

// Welcome screen
// -----------------------------------------------------

[data-screen='welcome'] {
  background: var(--color-bg-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .ui-logo {
    font-size: 5rem;
    // animation: welcome-logo 2s ease-in-out both;
    line-height: 1;
  }
  .ui-title {
    margin: 0;
    // animation: welcome-title 2s ease-in-out both;
  }
  .ui-button {
    // animation: welcome-button 2s 0.1s ease-in-out both;
  }
}

// 0s: logo scale 0
// 1s: logo scale 1
// 2s: text + button appear

@keyframes welcome-logo {
  from {
    transform: translateY(100%) scale(0);
  }
  50% {
    transform: translateY(100%) scale(1);
  }
  to {
    transform: none;
  }
}

@keyframes welcome-title {
  from,
  50% {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes welcome-button {
  from,
  55% {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
